<%= render 'services/create_service_modal' %>
<%= render 'appointments/create_appointment_modal' %>
<div class="container-fluid">
<div class="service-panel">
	<div id="service_list" class="row">
	<% @services.each_slice(3) do |services| %>
		
			<% services.each do |service| %>
				<span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

					<div class="service-image">
						<% if service.photos.present? && service.photos.first.image.present? %>
							<%= image_tag service.photos.first.image.url(:thumbnail) %>
						<% else %>
							<%= image_tag "/images/thumbnail/missing.png" %>
						<% end %>
					</div>

					<div class="service-title">
						<%= service.title %>
					</div>

					<% if current_user.user_type == "patient" %>
					<div>
						 <%= "By: Dr.#{service.user.name}" if service.user.present? %>
					</div>

					<div class="service-appoint">
						<% if service.user.present? %>
							<%= link_to "Appoint Me","#",id: "create_appointment_#{service.id}_#{service.user.id}", class: "btn btn-info new-appointment"%>
						<% else %>
							<%= link_to "Appoint Me","#",id: "create_appointment_#{service.id}", class: "btn btn-info new-appointment"%>
						<% end %>
					</div>
					<% end %>	

				</span>
			<% end %>
			<% end %>
		</div>

</div>
</div> 