<div class="container-fluid">
<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
		<h3 class="header-line">Appointments</h3>
	</div>
</div>
<%= render @appointments %>
</div>
